:root {
  --primary-color: #65c9ff;
  --font-color: #07102f;
  --bg-color: #fff;
}
[data-theme="dark"] {
  --primary-color: #b3d4e6;
  --font-color: #e9eeff;
  --bg-color: #07102f;
}
* {
  font-family: "Lato", sans-serif;
}
body {
  padding: 30px;
  width: 800px;
  margin: 0 auto;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: 0.3s;
}

p {
  line-height: 1.5;
}

.divider {
  width: 80%;
  display: block;
  border-bottom: 2px solid #f5f5f5;
  margin: 1rem auto;
}

b {
  position: relative;
}
b::after {
  content: "";
  border-bottom: 0.3rem solid var(--primary-color);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.2;
}

a {
  text-decoration: none;
  position: relative;
  color: var(--font-color);
}
a:visited {
  color: var(--font-color);
}
a:hover {
  color: var(--primary-color);
}
a:after {
  content: "";
  border-bottom: 0.3rem solid var(--primary-color);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.2;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Header */
.header {
  text-align: center;
  position: relative;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.theme-switch {
  display: inline-block;
  height: 2.125rem;
  position: relative;
  width: 3.75rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "☀️";
  height: 1.625rem;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 1.625rem;
  text-align: center;
  font-size: 1.2rem;
}

input:checked + .slider {
  background-color: midnightblue;
}

input:checked + .slider:before {
  content: "🌙";
  background-color: var(--bg-color);
  transform: translateX(1.625rem);
}

.slider.round {
  border-radius: 2.125rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* About */

/* Footer */
.footer {
  margin-bottom: 24px;
}
.footer p {
  float: left;
  margin: 0;
}
.links {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links li {
  margin: 0 0.3rem;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    width: 90vw;
  }
  .footer p {
    float: none;
    text-align: center;
    margin: 0.5rem;
  }

  .links {
    float: none;
  }
}
